@import "../../global/mixins";

[data-component="header"] {
  height         : 53px;
  padding        : 0 30px;

  display        : flex;
  flex-direction : row;
  align-items    : center;
  background: white;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  border-top: 3px solid $primary;

  .header-logo {
    img {
      height: 35px;
    }
  }

  .header-text {
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;
  }

  .header-hello {
    margin-left: auto;

    .fas {
      color: #999;
    }
  }
  

  

}