//$primary: #860f21;
$base: #f3b520;
$base: #1b7fc9;
//$base: #09a978;
$primary: darken($base, 0%);
$secondary: #34ae64;
$secondary: #8bc34a;
//$primary: #6d222d;
//$primary: lighten($primary, 45%);
$primary2: darken($primary, 4%);
//$primary2: #6d222d;
//$secondary: #536d22;